html body {
    margin: 0;
    line-height: 1.6;
    height: 100%;
    background-color: #E3E3E3;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.app {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1500px;
}

.group-card {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 40%;
    margin: 5% 10%;
    border: 1px solid grey;
    border-radius: 10px;
    position: relative;
    background-color: #FFF;
}

.header {
    background: #3b93ff;
    width: 80px;
    border-radius: 5px;
    text-align: center;
    color: white;
    top: -13px;
    position: absolute;
    left: 5px;
}


.content {
    overflow-y: auto;
    position: absolute;
    top: 5%;
    height: 85%;
    width: 98%;
}

.footer { 
    position: absolute;
    top: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 10%;
}


.tile { 
    margin: 5px 10px;
    height: max-content;
    color: white;
    background-color: #6c727d;
    border-radius: 5px;
}


.tile-header {
    display: flex;
    align-items: center;
    height: 50px;
    border-bottom: 1px solid black;
}

.tile-header label {
    padding: 2px 5px;
    margin: 1px 5px;
}

.tile-content {
    height: max-content;
}

.tile-content img{
    width: 100%;
    height: 100%;
}

button {
    background-color: #3b93ff;
    border-radius: 5px;
    color: white;
    border : none;
    padding: 10px 30px;
}

.no-data-msg {
    text-align: center;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    border: 1px solid grey;
    width: 1px;
    overflow: visible;
  }

  ::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
    overflow: visible;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 50px;
    border: 1px solid grey;
    background-color: #3b93ff;
    height:30px;
  }

  @media only screen and (max-width: 640px) {
    .app {
        flex-direction: column;
    }
  }